body{
    background:#f5f7fb;
}

.main{
    background:#f5f7fb;
}

.metric-card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0px 2px 10px rgba(0,0,0,.08);
}

.job-card{
    background:white;
    border-left:5px solid #2563EB;
    padding:18px;
    border-radius:12px;
    margin-bottom:15px;
}

.title{
    font-size:34px;
    font-weight:700;
    color:#2563EB;
}

.subtitle{
    color:gray;
}